<!DOCTYPE html>
<html>
<head>
  <title>Kawara</title>
  <%= stylesheet_link_tag    "kawara/application", media: "all" %>
  <%= javascript_include_tag "kawara/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
